<div class="page-content" id="education">
  <h1>Education</h1>
  <div class="small-cont">
    <section>
      <h3>BACHELOR OF APPLIED LINGUISTICS</h3>
      <p>Lviv Polytechnic National University | 2018 - 2022 <br>
        English & German
      </p>
    </section>
    <section class="p-right">
      <h3>FRONTEND DEVELOPER COURSE</h3>
      <p>LOGOS IT Academy | 2021</p>
    </section>
    <section>
      <h3>BASICS OF WEB UI DEVELOPMENT COURSE</h3>
      <p>Prometheus | 2020</p>
    </section>
    <section class="p-right">
      <h3>GERMAN LANGUAGE COURSE A1, A2</h3>
      <p>Goethe Institute | 2019-2020</p>
    </section>
  </div>
  <img src="../../../assets/images/BC_2022-Online-Education-Trends-Report_The-Learning-Experience_3.22.22..png">
</div>
