@font-face{
    font-family: 'PoppinsExtraLight';
    src: url('../../../assets/fonts/Poppins-ExtraLight.ttf');
}

@font-face{
    font-family: 'PoppinsLight';
    src: url('../../../assets/fonts/Poppins-Light.ttf');
}

@font-face{
    font-family: 'PoppinsMedium';
    src: url('../../../assets/fonts/Poppins-Medium.ttf');
}

@font-face{
    font-family: 'PoppinsRegular';
    src: url('../../../assets/fonts/Poppins-Regular.ttf');
}

@font-face{
    font-family: 'PoppinsSemiBold';
    src: url('../../../assets/fonts/Poppins-SemiBold.ttf');
}